@import 'color';

.font {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	color: white;
}

.header {
	@extend .font;
	font-weight: 700;
}

.paragraph {
	@extend .font;
	font-weight: 400;
}

h1 {
	@extend .header;
	font-size: 40px;
	display: block;
	text-align: center;
}

p {
	@extend .paragraph;
	font-size: 1em;
}
//Other elements
button {
	@extend .header;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	border-radius: 1px;
	width: 200px;
	text-align: center;
	border: 0;
	padding: 10px;
	background-color: $cyan500;
	z-index: 2;
}

button:hover {
	background-color: $coral500;
}