@import 'color';

.font {
  color: $white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  @extend .font;
  font-weight: 700;
}

.paragraph {
  @extend .font;
  font-weight: 400;
}

h1 {
  @extend .header;
  display: block;
  font-size: 40px;
  text-align: center;
}

p {
  @extend .paragraph;
  font-size: 1em;
}

//Other elements
button {
  @extend .header;
  background-color: $cyan500;
  border: 0;
  border-radius: 1px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  z-index: 2;
}

button:hover {
  background-color: $coral500;
}
