@import 'color';
@import 'font';
@import 'page';

.person {
	background-color: $lightgreen500;
	display: block;
	width: 250px;
	margin-bottom: 15px;
}

.selections {
	display: inline-block;
	margin-right: 25px;
	vertical-align: top;
}