@import 'color';
@import 'font';
@import 'page';

.person {
  background-color: $lightgreen500;
  display: block;
  margin-bottom: 15px;
  width: 250px;
}

.selections {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
}
